<template name="voteslist">
    <section id="main">
        <section id="content">
            <div class="container votes-container">

                {{#each votes}}
                <div class="col-sm-4">
                    <div class="card rating-list vote">
                        <div class="listview fold" id="vote-item">
                            <div class="lv-header">
                                <div class="m-t-5">
                                    {{title}}
                                </div>

                                <div class="clearfix"></div>

                                <ul class="lv-attrs">
                                    <li class="{{typeColor}}">{{typeName}}</li>
                                </ul>

                                <ul class="actions actions-alt" id="fc-actions">
                                    <li class="dropdown open" id="vote-oper">
                                        <a href="" id="vote-fold" data-toggle="dropdown" aria-expanded="true">
                                            <i class="md-keyboard-arrow-down"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            <div class="lv-body">
                                {{#if readonly}}
                                <div class="p-15">
                                    {{#each candidates}}
                                        {{> voteresult}}
                                    {{/each}}
                                </div>
                                {{else}}
                                <div class="p-15">
                                    {{#each candidates}}
                                        {{> CandidateSummary}}
                                    {{/each}}
                                </div>
                                <div class="lv-footer">
                                    <button class="btn btn-primary waves-effect waves-button waves-float">投票</button>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>

                </div>
                {{/each}}

            </div>
        </section>
    </section>
</template>

<template name="CandidateSummary">
    <div class="lv-item grey-border">
        <div class="media">
            <div class="pull-left">
                <div class="profile-pic">
                    <a href="{{pathFor route='candidate' uid=this.uid}}"><img src="{{userimg}}" alt="" class="round-img"></a>
                </div>
                <p class="name m-b-0 text-center c-gray f-s">{{name}}</p>
                <p class="group m-b-0 text-center c-gray f-s">组团号：{{groupNo}}</p>
            </div>
            <div class="pull-right">
                <div class="checkbox m-b-15" style=" margin-top: 20px; margin-right: -25px;">
                    <label>
                    <input type="checkbox" value="">
                    <i class="input-helper"></i></label>
                </div>
            </div>
            <div class="media-body">
                <p>{{slogan}}</p>
            </div>
        </div>
    </div>
</template>

<template name="voteresult">
    <div class="lv-item grey-border">
        <div class="media">
            <div class="pull-left">
                <div class="profile-pic">
                    <a href="{{pathFor route='candidate' uid=this.uid}}"><img src="{{userimg}}" alt="" class="round-img"></a>
                </div>
                <p class="name m-b-0 text-center c-gray f-s">{{name}}</p>
                <p class="group m-b-0 text-center c-gray f-s">组团号：{{groupNo}}</p>
            </div>
            <div class="pull-right">
                {{#with result}}
                <dl>
                    <dd></dd>
                    <dd>票数：{{peopleCount}}</dd>
                    <dd>占比：{{peopleRatio}}%</dd>
                    <dd>面积：{{roomsizeCount}}</dd>
                    <dd>占比：{{roomsizeRatio}}</dd>
                </dl>
                {{/with}}
            </div>
        </div>
    </div>
</template>
