<template name="candidate">
    <section id="content" class="team-wrapper">
        <div class="container">

            <div class="card" id="profile-main" data-uid="{{uid}}">
                {{> CandidateCard}}
                <div class="pm-body clearfix">
                    {{> CandidateInfo}}
                </div>
                <div class="back-bottom">
                    <button class="btn btn-info waves-effect waves-button waves-float">返回</button>
                </div>
            </div>
        </div>
    </section>
</template>

<template name="CandidateCard">
    <div class="pm-overview c-overflow">
        <div class="pmo-pic">
            <div class="p-relative">
                <a href="">
                    <img src="/img/profile-pics/{{uid}}.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</template>

<template name="CandidateInfo">
    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="md md-person m-r-5"></i>基本信息</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>候选人姓名</dt>
                    <dd>王大锤</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>候选人房号</dt>
                    <dd>A-101</dd>
                </dl>
            </div>
        </div>
    </div>

    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="md md-account-balance m-r-5"></i>选举信息</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view">
                <dl class="dl-horizontal">
                    <dt>候选人简介</dt>
                    <dd>来自一个幸福的家庭，从军10年，现从事国际贸易工作。来自一个幸福的家庭，从军10年，现从事国际贸易工作。来自一个幸福的家庭，从军10年，现从事国际贸易工作。</dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>候选人宣言</dt>
                    <dd>为人民服务，为身边的朋友做贡献，是我一直追求的荣耀。</dd>
                </dl>
            </div>
        </div>
    </div>
</template>
